{% load drug_extras %}
<div class="row" align="center">
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#drug_{{day}}Modal">
  {% if day == 'today' %}
  Today's Drug
  {% elif day == 'yesterday' %}
  Yesterday's Drug
  {% else %}
  Last Week's Drug
  {% endif %}
</button>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="drug_{{day}}Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_{{day}}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
    		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel_{{day}}" text-transform='capitalize'>{{drug_today}}</h4>
      		</div>
      		<div class="modal-body">
      			<div class="panel-group" id="accordion{{day}}">

      				{% show_may_treat drug_today day %}
		  			{% show_may_prevent drug_today day %}
		  			{% show_may_diagnose drug_today day %}
		    		{% show_moa drug_today day %}
		   			{% show_pe drug_today day %}
		    		{% show_ci drug_today day %}
		    		{% show_active_met drug_today day %}
		    		{% show_induces drug_today day %}
		    		{% show_inhibit drug_today day %}
		    		{% show_metabolized_by drug_today day %}
		    		{% show_site_metabolize drug_today day %}

				</div>
      		</div>
      	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>