{% load drug_extras %}
<div class="row" align="center">
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#drug_todayModal">
  Launch Today's Drug
</button>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="drug_todayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_today" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel_today" text-transform='capitalize'>{{drug_today}}</h4>
      </div>
      <div class="modal-body">
		{% show_pe drug_today %}
		{% show_ci drug_today %}
		{% show_may_treat drug_today %}
		{% show_may_prevent drug_today %}
		{% show_may_diagnose drug_today %}
		{% show_moa drug_today %}
		{% show_inhibit drug_today %}
		{% show_active_met drug_today %}
		{% show_induces drug_today %}
		{% show_metabolized_by drug_today %}
		{% show_site_metabolize drug_today %}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>