{% load drug_extras %}
<div class="row" align="center">
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#drug_yesterdayModal">
  Launch Yesterday's Drug
</button>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="drug_yesterdayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_yesterday" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel_yesterday">{{drug_yesterday}}</h4>
      		</div>
      		<div class="modal-body">
      			<div class="panel-group" id="accordion">
					{% show_pe drug_yesterday %}
					{% show_ci drug_yesterday %}
					{% show_may_treat drug_yesterday %}
					{% show_may_prevent drug_yesterday %}
					{% show_may_diagnose drug_yesterday %}
					{% show_moa drug_yesterday %}
					{% show_inhibit drug_yesterday %}
					{% show_active_met drug_yesterday %}
					{% show_induces drug_yesterday %}
					{% show_metabolized_by drug_yesterday %}
					{% show_site_metabolize drug_yesterday %}
				</div>
			</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
  	</div>
</div>